temp
node_modules
npm-debug.log

vendor/composer/installers
vendor/usabilitydynamics/lib-installer

.svn
.idea
.idea/workspace.xml
.DS_Store
.dynamic/*
.dynamic/.
.Trashes
*.sublime-project
*.sublime-workspace

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.\#*
*#
ssl
*~
.idea
nbproject
.waterline
static/codex